@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.nav {
    display: flex;
    width: 1800px;
    height: 80px;
    margin: 0 auto;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 1000;
}

.nav h1 {
    width: 65px;
    height: 43px;
    text-indent: -9999px;
    background: url(../img/logo.png);
    margin-top: 2%;
}

.nav li:first-child {
    flex: 1;
}

.nav li {
    box-sizing: border-box;
    height: 80px;
    line-height: 80px;
}

.bt {
    width: 950px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.bt a {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #888;
}

.bt a:nth-of-type(5) {
    color: #fff;
    text-decoration: underline;
    text-underline-position : under;
    font-weight: 500;
    text-decoration-thickness: 1.5px;
}

.bt a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-thickness: 1.5px;
    font-weight: 500;
}

.main_page {
    position: relative;
    width: 1800px;
    height: 97vh;
    font-size: 140pt;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    margin-bottom: 450px;
    font-weight: lighter;
    padding-top: 200px;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.main_page span:nth-of-type(1) {
    color: #3653FB;
    font-weight: 300;
}

.main_page span:nth-of-type(2) {
    color: #90FE93;
    
}

.main_page p:nth-of-type(2) {
    float: right;
}

.section_1 {
    width: 1300px;
    color: #fff;
    font-family: pretendard;
    font-weight: lighter;
    margin: 0 auto;
}

.section_1 li {
    display: flex;

}

.pf div {
    font-size: 50px;
    margin-bottom: 32px;
}

.pf ul {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    line-height: 50px;
}

.info {
    display: block;
    width: 200px;
    font-size: 20px;
}

.ex {
    display: block;
    font-size: 20px;
    width: 500px;  
}

.ex a {
    color: #fff;
}

.section_1 .pt {
    background-image: url(../img/yg.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    margin-top: -350px;
    width: 900px;
    height: 900px;

}

.section_1 .pf {
    margin-top: -120px;
}


.section_2 {
    width: 1300px;
    color: #fff;
    font-family: pretendard;
    font-weight: lighter;
    margin: 0 auto 80px;
}

.section_2 li {
    display: flex;

}

.section_2 .pt {
    background-image: url(../img/hw.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    margin-top: -300px;
    width: 900px;
    height: 900px;
}

.section_2 .pf {
    margin-top: -70px;
}

.section_3 {
    width: 1300px;
    color: #fff;
    font-family: pretendard;
    font-weight: lighter;
    margin: 0 auto;
}

.section_3 li {
    display: flex;

}

.section_3 .pt {
    background-image: url(../img/uj.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    margin-top: -300px;
    width: 900px;
    height: 900px;

}

.section_3 .pf {
    margin-top: -120px;
}

footer {
    height: 185px;
    padding-top: 45px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


footer ul {
    width: 1800px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ft {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.ft_bt {
    color: #888;
    width: 380px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
    
}

.ft_bt a {
    width: 130px;
}

.ft_bt a:hover {
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {

    body {
        box-sizing: border-box;
        position: relative;
    }

    header {
        width: 100vw;
        display: flex;
    }

    main {
        position: relative;
        padding-top: 170px;
        width: 100vw;
        padding: 100px 0;
    }

    .nav {
        width: 100vw;
    }

    .nav h1 {
        background-size: 70%;
        background-repeat: no-repeat;
        margin-left: 10px;
        margin-top: 38px;
    }

    .bt {
        flex-direction: column;
        text-align: right;
        margin-right: 30px;
        width: 90vw;
        height: 100vh;
        margin-top: 100px;
        display: none;
        
    }


    .bt a {
        font-size: 30px;
        line-height: 100px;
        border-bottom: 1px solid #fff;
        color: #fff;
        width: 90vw;
        margin-left: -60px;        
    }

    .bt a:nth-of-type(5) {
        text-decoration: none;
    }


    .menu-toggle {
        display: inline-block; /* 버튼이 항상 보이도록 설정 */
        width: 100vw;
        position: fixed; /* 화면 고정 */
        top: 32px; /* 헤더의 위치에 맞게 조정 */
        left: 307px; /* 우측 여백 조정 */
        z-index: 1100; /* 헤더 위로 표시 */
        color: #fff;
     /* 버튼 스타일 */
        background-color: transparent;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .nav.active {
        background-color: #000;
        width: 100vw;
        height: 100vh;
        padding-top: 28px;

    }

    .nav.active h1 {
        margin-top: 10px;
    }

    .nav.active + .menu-toggle {
        margin-top: -813px;
    }
    
    .nav.active .bt {
        display: flex; /* 활성화 시 메뉴 표시 */
        position: absolute;
        top: -10px;
        left: 80px;
        border-radius: 5px;

    }
    
    .nav.active .bt a {
        padding: 10px 20px;
        white-space: nowrap;
    }

    .main_page {
        width: 100vw;
        font-size: 40px;
        padding: 100px 10px 0;
        height: 30vh;
        margin-bottom: 380px;
    }

    .section_1 {
        width: 80vw;
        margin-left: 10px;
        
    }

    .section_2 {
        width: 80vw;
        margin-top: -200px;
        margin-left: 10px;
    }

    .section_3 {
        width: 80vw;
        height: 300px;
        margin-top: -250px;
        margin-left: 10px;
    }

    .pf div {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .pf ul {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        line-height: 20px;
        
    }
    
    .info {
        display: block;
        width: 20vw;
        font-size: 10px;
    }
    
    .ex {
        display: block;
        font-size: 10px;
        width: 80vw;  
    }

    .pt {
        width: 250px;
        height: 250px;
        background-size: cover;
        
        margin-left: -90vw;
        margin-top: -200px;
        z-index: -100;
    }

    .section_1 .pf {
        margin: -90px 0 0 20px;
    }
    .section_2 .pf {
        margin: -50px 0 0 20px;
    }
    .section_3 .pf {
        margin: -50px 0 0 20px;
    }
    
    .section_3 .pt {
        height: 300px;
    }

    footer {
        height: 150px;
        padding-top: 0px;
        box-sizing: border-box;
        margin-top: -200px;
    }  

    footer ul {
        width: 100vw;
        flex-direction: column;
        height: 110px;
        padding: 0 10px;
    }

    .ft {
        font-size: 20px;
    }

    .ft_bt {
        width: 80vw;
        
    }
}
