@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.nav {
    display: flex;
    width: 1800px;
    height: 80px;
    margin: 0 auto;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 1000;
}

.nav h1 {
    width: 65px;
    height: 43px;
    text-indent: -9999px;
    background: url(../img/logo.png);
    margin-top: 2%;
}

.nav li:first-child {
    flex: 1;
}

.nav li {
    box-sizing: border-box;
    height: 80px;
    line-height: 80px;
}

.bt {
    width: 950px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.bt a {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #888;
}

.bt a:nth-of-type(4) {
    color: #fff;
    text-decoration: underline;
    text-underline-position : under;
    font-weight: 500;
    text-decoration-thickness: 1.5px;
}

.bt a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-thickness: 1.5px;
    font-weight: 500;
}

.section_1 {
    font-family: "Montserrat", sans-serif;
    font-size: 155px;
    line-height: 145px;
    width: 1800px;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    padding-top: 250px;
    padding-bottom: 60px;
    margin-bottom: 100px;
    font-weight: lighter;
    position: relative
}

.section_1 .bt2 {
    color: #fff;
}

.section_1 .bt2:hover {
    color: #3653FB;
    font-weight: 300;
}

.section_1 .bt2 span {
    color: #90FE93;
}

.section_1 .bt3 {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 25px;
    color: #000;
    line-height: 40px;
    padding: 2px 15px;
    background-color: #90FE93;
    transform: translate(0%,-50%);
    font-weight: 300;
}

.section_1 .bt3:hover {
    color: #90FE93;
    background-color: #000;
    border: 1px solid #fff;
}



.section_2 {
    width: 1800px;
    height: 608px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 180px;
}

.section_2 li {
    background-color: #151515;
    width: 430px;
    height: 608px;
    padding: 40px 50px;
    opacity: 0;
    transform: rotate(-720deg);
    transition: all 1.2s;
}

.section_2 li:hover {
    border: 3px solid #c0c0c0;
}

.section_2 p {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 30px;
    color: #fff;
}

.section_2 p:first-child {
    margin-bottom: 290px;
}

.section_2 p:nth-of-type(2) {
    margin-bottom: 45px;
}

.section_2 a {
    color: #888;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#popupSection {
    display: none; /* 처음에는 숨김 */
    position: fixed; /* 화면 위에 고정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1800px;
    height: 100vh;

    background-image: url(../img/contactus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 101%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

#overlay {
    display: none; /* 처음에는 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 반투명 검은색 */
    z-index: 999; /* 팝업 아래 배경에 위치 */
}

.close-btn {
    margin-top: 870px;
    margin-left: 1600px;
    padding: 10px 20px;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}


.section_3 {
    height: 30vh;
    width: 1800px;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    position: relative;
    line-height: 38px;
}

.section_3 .bt3 {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 25px;
    color: #000;
    line-height: 40px;
    padding: 2px 15px;
    background-color: #fff;
    transform: translate(0%,-130%);
    font-weight: 300;
}

.section_3 a {
    color: #888;
    font-size: 70px;
    line-height: 60px;
    font-weight: 200;
}

.section_3 a:hover {
    color: #fff;
    font-weight: 300;
}

.section_3 .bt3:hover {
    color: #000;
}

footer {
    height: 185px;
    padding-top: 45px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


footer ul {
    width: 1800px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ft {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.ft_bt {
    color: #888;
    width: 380px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
    
}

.ft_bt a {
    width: 130px;
}

.ft_bt a:hover {
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {

    body {
        box-sizing: border-box;
        position: relative;
    }

    header {
        width: 100vw;
        display: flex;
    }

    main {
        position: relative;
        padding-top: 170px;
        width: 100vw;
        padding: 100px 0;
    }

    .nav {
        width: 100vw;
    }

    .nav h1 {
        background-size: 70%;
        background-repeat: no-repeat;
        margin-left: 10px;
        margin-top: 38px;
    }

    .bt {
        flex-direction: column;
        text-align: right;
        margin-right: 30px;
        width: 90vw;
        height: 100vh;
        margin-top: 100px;
        display: none;
        
    }


    .bt a {
        font-size: 30px;
        line-height: 100px;
        border-bottom: 1px solid #fff;
        color: #fff;
        width: 90vw;
        margin-left: -60px;        
    }

    .bt a:nth-of-type(3) {
        text-decoration: none;
    }


    .menu-toggle {
        display: inline-block; /* 버튼이 항상 보이도록 설정 */
        width: 100vw;
        position: fixed; /* 화면 고정 */
        top: 32px; /* 헤더의 위치에 맞게 조정 */
        left: 307px; /* 우측 여백 조정 */
        z-index: 1100; /* 헤더 위로 표시 */
        color: #fff;
     /* 버튼 스타일 */
        background-color: transparent;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .nav.active {
        background-color: #000;
        width: 100vw;
        height: 100vh;
        padding-top: 28px;

    }

    .nav.active h1 {
        margin-top: 10px;
    }

    .nav.active + .menu-toggle {
        margin-top: -813px;
    }
    
    .nav.active .bt {
        display: flex; /* 활성화 시 메뉴 표시 */
        position: absolute;
        top: -10px;
        left: 80px;
        border-radius: 5px;

    }
    
    .nav.active .bt a {
        padding: 10px 20px;
        white-space: nowrap;
    }
    
    .main_page {
        padding: 50px 10px 0;
        width: 100vw;
        height: 25vh;
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .main_page p:first-child {
        width: 100vw;
        font-size: 35px;
        font-weight: 300;
        padding-right: 20px;
    }

    .main_page p:nth-of-type(2) {
        width: 100vw;
        font-size: 30px;
        text-align: right;
        font-weight: lighter;
        padding-right: 20px;
    }


    .section_1 {
        width: 100vw;
        padding: 0 10px 20px;
        font-size: 15px;
        
        
    }

    .calwrap {
        width: 100vw;
        flex-direction: column;
        justify-content: left;
        margin-left: 0px;
    }
    
    .month {
        font-size: 25px;
        margin-top: -60px;
        padding-left: 10px;
    }

    .calendar {
        width: 100vw;
        margin: 0 auto;
        padding-left: 30px;
    }

    .day {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 80px;
        width: 100px;
        }
        
        .day .date {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        }
        
        
    .event {
        height: 20px;
        overflow: hidden;
        font-size: 15px;
        font-weight: lighter;
        font-family: "pretendard", sans-serif;
        }

    footer {
        height: 200px;
        margin-top: -30px;
        padding-top: 0px;
        box-sizing: border-box;
       
    }  

    footer ul {
        width: 100vw;
        flex-direction: column;
        height: 110px;
        padding: 0 10px;
    }

    .ft {
        font-size: 20px;
    }

    .ft_bt {
        width: 80vw;
        
    }
}

@media only screen and (max-width: 767px) {

    body {
        box-sizing: border-box;
        position: relative;
    }

    header {
        width: 100vw;
        display: flex;
    }

    main {
        position: relative;
        padding-top: 170px;
        width: 100vw;
        padding: 100px 0;
    }

    .nav {
        width: 100vw;
    }

    .nav h1 {
        background-size: 70%;
        background-repeat: no-repeat;
        margin-left: 10px;
        margin-top: 38px;
    }

    .bt {
        flex-direction: column;
        text-align: right;
        margin-right: 30px;
        width: 90vw;
        height: 100vh;
        margin-top: 100px;
        display: none;
        
    }


    .bt a {
        font-size: 30px;
        line-height: 100px;
        border-bottom: 1px solid #fff;
        color: #fff;
        width: 90vw;
        margin-left: -60px;        
    }

    .bt a:nth-of-type(4) {
        text-decoration: none;
    }


    .menu-toggle {
        display: inline-block; /* 버튼이 항상 보이도록 설정 */
        width: 100vw;
        position: fixed; /* 화면 고정 */
        top: 32px; /* 헤더의 위치에 맞게 조정 */
        left: 307px; /* 우측 여백 조정 */
        z-index: 1100; /* 헤더 위로 표시 */
        color: #fff;
     /* 버튼 스타일 */
        background-color: transparent;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .nav.active {
        background-color: #000;
        width: 100vw;
        height: 100vh;
        padding-top: 28px;

    }

    .nav.active h1 {
        margin-top: 10px;
    }

    .nav.active + .menu-toggle {
        margin-top: -813px;
    }
    
    .nav.active .bt {
        display: flex; /* 활성화 시 메뉴 표시 */
        position: absolute;
        top: -10px;
        left: 80px;
        border-radius: 5px;

    }
    
    .nav.active .bt a {
        padding: 10px 20px;
        white-space: nowrap;
    }

    .section_1 {
        width: 100vw;
        padding: 0 10px 20px;
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        padding-top: 170px;
        height: 55vh;
        margin-bottom: 20px;
    }

    .section_1 .bt3 {
        top: 85%;
        left: 10px;
        font-size: 10px;
        padding: 0 10px;
        width: 80px;
        line-height: 20px;
    }

    .section_2 {
        padding: 0 10px;
        width: 100vw; 
        height: 400px;
        gap: 10px;
        flex-wrap: wrap;
    }

    .section_2 li {
        width: 180px;
        height: 260px;
        padding: 20px 20px;
        border: 1px solid #fff;
    }

    .section_2 li:hover {
        border: 1px solid #c0c0c0;
    }

    .section_2 p {
        font-size: 18px;
    }

    .section_2 p:first-child {
        margin-bottom: 100px;
    }
    
    .section_2 p:nth-of-type(2) {
        margin-bottom: 10px;
    }

    .section_2 a {
        color: #888;
        font-size: 15px;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
    
    .section_3 {
        height: 30vh;
        width: 100vw;
        margin: auto;
        font-family: "Montserrat", sans-serif;
        position: relative;
        line-height: 30px;
        padding-left: 10px;
    }

    .section_3 a {
        color: #888;
        font-size: 24px;
        line-height: 10px;
        font-weight: 200;
    }

    .section_3 .bt3 {
        left: 10px;
        font-size: 10px;
        padding: 0 10px;
        width: 80px;
        line-height: 20px;
    }

    footer {
        height: 200px;
        margin-top: -30px;
        padding-top: 0px;
        box-sizing: border-box;
        margin-top: -200px;
    }  

    footer ul {
        width: 100vw;
        flex-direction: column;
        height: 110px;
        padding: 0 10px;
    }

    .ft {
        font-size: 20px;
    }

    .ft_bt {
        width: 80vw;
        
    }
}
