@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000;
    position: relative;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.nav {
    display: flex;
    width: 1800px;
    height: 80px;
    margin: 0 auto;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 1000;
}

.nav h1 {
    width: 65px;
    height: 43px;
    text-indent: -9999px;
    background: url(../img/logo.png);
    margin-top: 2%;
}

.nav li:first-child {
    flex: 1;
}

.nav li {
    box-sizing: border-box;
    height: 80px;
    line-height: 80px;
}

.bt {
    width: 950px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.bt a {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #888;
}

.bt a:first-child {
    color: #fff;
    text-decoration: underline;
    text-underline-position : under;
    font-weight: 500;
    text-decoration-thickness: 1.5px;
}

.bt a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-thickness: 1.5px;
    font-weight: 500;
}

.menu, .close {
    opacity: 0;
    width: 0;
    height: 0;
}

main {
    color: #888;
    padding-top: 80px;
    box-sizing: border-box;
}

main span {
    color: #fff;
}

.txt {
    width: 1800px;
    vertical-align: text-bottom;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1%;
}

.inner-headings {
    border: 0px solid #ddd;
    height: 180px;
    line-height: 50px;
    text-transform: uppercase;
    overflow: hidden;
}

.txt_b:hover {
    animation: none;
}

.inner-headings .ani {
    position: relative;
    animation: animation 10s ease infinite;
}

@keyframes animation {
    0%,
    100% {
        top: 0;
    }
    15% {
        top: 0;
    }
    25% {
        top: -180px;
    }
    40% {
        top: -180px;
    }
    50% {
        top: -360px;
    }
    65% {
        top: -360px;
    }
    75% {
        top: -540px;
    }
    90% {
        top: -540px;
    }
}

.inner-headings .ani2 {
    position: relative;
    animation: animation2 8s ease infinite;
}

@keyframes animation2 {
    0%,
    100% {
        top: -540px;
    }
    15% {
        top: -540px;
    }
    25% {
        top: -360px;
    }
    40% {
        top: -360px;
    }
    50% {
        top: -180px;
    }
    65% {
        top: -180px;
    }
    75% {
        top: -0px;
    }
    90% {
        top: -0px;
    }
}

.inner-headings .ani3 {
    position: relative;
    animation: animation3 15s ease infinite;
}

@keyframes animation3 {
    0%,
    100% {
        top: 0;
    }
    15% {
        top: 0;
    }
    25% {
        top: -180px;
    }
    40% {
        top: -180px;
    }
    50% {
        top: -360px;
    }
    65% {
        top: -360px;
    }
    75% {
        top: -540px;
    }
    90% {
        top: -540px;
    }
}

.inner-headings .ani4 {
    position: relative;
    animation: animation4 9s ease infinite;
}

@keyframes animation4 {
    0%,
    100% {
        top: 0;
    }
    15% {
        top: 0;
    }
    25% {
        top: -180px;
    }
    40% {
        top: -180px;
    }
    50% {
        top: -360px;
    }
    65% {
        top: -360px;
    }
    75% {
        top: -540px;
    }
    90% {
        top: -540px;
    }
}

.txt_s {
    color: #C0C0C0;
    font-size: 30px;
    line-height: 30px;
}

.tr {
    text-align: right;
}

.txt_b {
    font-size: 200px;
    line-height: 180px;
    display: flex;
    font-weight: 300;
}

.txt:hover {
    cursor: pointer;
}

.txt:hover .txt_b {
    color: #fff;
}

.txt:hover .d {
    color: #5887FF;
}

.txt:hover .o {
    color: #90FE93;
}

.txt:hover .r {
    color: #3653FB;
}

.txt:hover .m {
    color: #92B4F4;
}

.t1 {
    height: 30px;
    margin-top: 135px;
}

.t2 {
    height: 120px;
    margin-top: 45px;
}

.t3 {
    height: 90px;
    margin-top: 75px;
}


.line {
    border-bottom: 2px solid #C0C0C0;
    margin: 50px auto;
    width: 1800px;
    
}

.section_2 {
    width: 1750px;
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: space-between;
}

.mean {
    color: #C0C0C0;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -1;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.section_2 div {
    width: 100px;
    height: 100px;
    background: url(../img/calender_icon.png) center no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 3px solid #fff;
    background-size: 60%;
    margin: 20px 0 0 -500px;
}

@keyframes rot_txt {
    100% {transform:rotate(360deg);}
}

.calbt {
    color: #fff;
    display: block;
    width: 250px;
    height: 250px;
    background: url(../img/touch.png) center no-repeat;
    background-size: 75%;
    border-radius: 50%;
    text-indent: -9999px;
    animation: rot_txt linear 6s infinite;
    transform-origin: 50% 50%;
    margin: -80px 0 0 -78px;
}

#popupSection {
    display: none; /* 처음에는 숨김 */
    position: fixed; /* 화면 위에 고정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1800px;
    height: 680px;

    background-image: url(../img/popup.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 101%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

#overlay {
    display: none; /* 처음에는 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 반투명 검은색 */
    z-index: 999; /* 팝업 아래 배경에 위치 */
}

.close-btn {
    margin-top: 615px;
    margin-left: 1730px;
    padding: 10px 20px;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}


.section_2 div:has(.calbt:hover) {
    background: url(../img/calender_icon_hover.png) center no-repeat;
    background-size: 110%;
    animation: none;

}

.ad {
    width: 1800px;
    margin: 0 auto;
    text-align: right;
}

.ad a {
    margin-left: 1625px;
    display: block;
    width: 175px;
    height: 35px;
    font-size: 18px;
    background-color: #D9D9D9;
    color: #000;
    text-align: center;
    line-height: 35px;
    font-family: "Montserrat", sans-serif;
}

.ad a:hover {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}

footer {
    height: 185px;
    padding-top: 45px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


footer ul {
    width: 1800px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ft {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.ft_bt {
    color: #888;
    width: 380px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
    
}

.ft_bt a {
    width: 130px;
}

.ft_bt a:hover {
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {

    main {
    
        position: relative;
        padding-top: 170px;
        width: 100vw;
    }

    /* .nav {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        padding: 20px 0 0 10px;
        background-color:#000;
        z-index: 1000;
    } */

    .nav h1 {
        background-size: 70%;
        background-repeat: no-repeat;
        margin-left: 10px;
    }

    .bt {
        flex-direction: column;
        text-align: right;
        margin-right: 30px;
        width: 90vw;
        height: 100vh;
        margin-top: 100px;
        display: none;
        
    }

    /* .nav::before {
        content: "a";
        position: absolute;
        top: 10px;
        right:9px;
        font-size: 20px;
        color: #fff;
        z-index: 1000;
        width: 100px;
        height: 100px;
    } */

    .bt a {
        font-size: 30px;
        line-height: 100px;
        border-bottom: 1px solid #fff;
        color: #fff;
        width: 90vw;
        margin-left: -60px;        
    }

    .bt a:first-child {
        text-decoration: none;
    }


    .menu-toggle {
      
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        margin: -50px 0 0 300px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .nav.active {
        background-color: #000;
        width: 100vw;
        height: 100vh;
        padding-top: 28px;

    }

    .nav.active + .menu-toggle {
        margin-top: -813px;
    }
    
    .nav.active .bt {
        display: flex; /* 활성화 시 메뉴 표시 */
        position: absolute;
        top: -10px;
        left: 80px;
        border-radius: 5px;
  
    }
    
    .nav.active .bt a {
        padding: 10px 20px;
        white-space: nowrap;
    }
    
    
    

    .inner-headings {
        border: 0px solid #ddd;
        height: 60px;
        line-height: 50px;
        text-transform: uppercase;
        overflow: hidden;
    }

    .txt {
        width: 100vw;
        padding: 0 10px 0;
    }

    .txt_s {
        color: #C0C0C0;
        font-size: 20px;
        line-height: 30px;
        display: block;
        width: 100vw;
        margin-top: 500px;
        position: absolute;
        top: 500px;
        font-weight: 500;
    }
    
    .tr {
        text-align: left;
    }

    .dio {
        text-align: end;
    }
    
    .txt_b {
        font-size: 40px;
        line-height: 80px;
        display: flex;
        font-weight: 400;
        color: #fff;
        display: inline-block;
        width: 90vw;
    }
    
    @keyframes animation {
        0%,
        100% {
            top: 0;
        }
        15% {
            top: 0;
        }
        25% {
            top: -80px;
        }
        40% {
            top: -80px;
        }
        50% {
            top: -80px;
        }
        65% {
            top: -160px;
        }
        75% {
            top: -240px;
        }
        90% {
            top: -240px;
        }
    }

    @keyframes animation2 {
        0%,
        100% {
            top: -240px;
        }
        15% {
            top: -240px;
        }
        25% {
            top: -160px;
        }
        40% {
            top: -160px;
        }
        50% {
            top: -80px;
        }
        65% {
            top: -80px;
        }
        75% {
            top: -0px;
        }
        90% {
            top: -0px;
        }
    }

    @keyframes animation3 {
        0%,
        100% {
            top: 0;
        }
        15% {
            top: 0;
        }
        25% {
            top: -80px;
        }
        40% {
            top: -80px;
        }
        50% {
            top: -160px;
        }
        65% {
            top: -160px;
        }
        75% {
            top: -240px;
        }
        90% {
            top: -240px;
        }
    }

    @keyframes animation4 {
        0%,
        100% {
            top: 0;
        }
        15% {
            top: 0;
        }
        25% {
            top: -80px;
        }
        40% {
            top: -80px;
        }
        50% {
            top: -160px;
        }
        65% {
            top: -160px;
        }
        75% {
            top: -240px;
        }
        90% {
            top: -240px;
        }
    }

    .t1 {
        height: 20px;
        margin-top: -420px;
    }
    
    .t2 {
        height: 20px;
        margin-top: -80px;
    }
    
    .t3 {
        height: 20px;
        margin-top: 50px;
    }

    .txt .d {
        color: #5887FF;
    }
    
    .txt .o {
        color: #90FE93;
    }
    
    .txt .r {
        color: #3653FB;
    }
    
    .txt .m {
        color: #92B4F4;
    }

    .line {
        margin-top: 250px;
        width: 95vw;
    }

    .section_2 {
        width: 100vw;
    }

    .ad {
        width: 300px;
    }

    .ad a {
        opacity: 0;
        width: 80vw;
        margin-left: 0px;
    }

    footer {
        height: 300px;
    }

    footer ul {
        width: 100vw;
    }

    .mean {
        margin:-30px 0 0 10px;
        width: 80vw;
        font-size: 10px;
        line-height: 20px;

    }
    
    .calbtw {
        width: 30%;
        background-size: 30%;
        position: absolute;
        top: 490px;
        right: 50px;
    }

    footer {
        margin-top: -90px;
        padding-top: 0px;
    }  

    footer ul {
        flex-direction: column;
        height: 110px;
        padding: 0 10px;
    }

    .ft {
        font-size: 20px;
    }

    .ft_bt {
        width: 80vw;
        
    }
}
